<nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid">
      
      <a class="navbar-brand">

        <img class="logo" src="/assets/img/logoista.png">

      </a>
    

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item" routerLink="active">
            <a class="nav-link" aria-current="page" routerLink="/clientes">
              
              <img src="/assets/img/p.png">
              PERSONAS-REGISTRADAS |
            </a>
          </li>

          <li class="nav-item" routerLink="active">
            <a class="nav-link" aria-current="page" routerLink="/producto">

              <img src="/assets/img/prod.png">
              PRODUCTOS |
            </a>
          </li>

          <li class="nav-item" routerLink="active">
            <a class="nav-link" aria-current="page" routerLink="/categoria">
              
              <img src="/assets/img/cat.png">
              CATEGORIAS |
            </a>
          </li>

          <li class="nav-item" routerLink="active">
            <a class="nav-link" aria-current="page" routerLink="/">
              
              <img src="/assets/img/car.png">
              GESTION DE PEDIDOS |
            </a>
          </li>

          <li class="nav-item" routerLink="active">
            <a class="nav-link" aria-current="page" routerLink="/">
              
              <img src="/assets/img/fac.png">
              FACTURA 
            </a>
          </li>

        </ul>
        <form class="d-flex" role="search"> 
        
            <a class="nav-link  active" (click)="cerrarSesion()">CERRAR SESION</a>
          
          </form>
      </div>
    </div>
  </nav>
