.footer{
    background: linear-gradient(135deg, #001aff, #ffee00);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    color: white;
}

.addres{
    position: fixed;
}