<footer class="footer bg-dark rounded-top ">
    <div class="grupo-1">
        <div  class="box">
            <figure>
                <a href="https://www.tecazuay.edu.ec/main/index.php">
                    <img src="assets/img/logoista.png" width="170px"  alt="LogoIstaBar">
                </a>
            </figure>
        </div>
        <div  class="box">
            <h2>SOBRE NOSOTROS <link rel="conocenos icon" href="assets/img/IconConocenos.png"></h2>

            <p>En ISTA_BAR, nos complacemos en un delicioso viaje culinario llevar lleno de auténticos sabores y experiencias gastronómicas inolvidables.</p>
            <p>Nuestra pasión por la comida nos impulsa a ofrecerte lo mejor en cada bocado ya satisfacer todos los paladares.</p>
        </div>
        <div class="box">
            <h2>SIGUENOS EN NUESTRAS REDES SOCIALES</h2>
            <div class="red-social">
                <a href="#" class="facebook">
                    <img src= "assets/img/Fac.png"   width="40px" alt="">
                </a>
                <a href="#" class="instagram">
                    <img src="assets/img/Ins.png"  width="40px" alt="">
                </a>
                <a href="#" class="Whast">
                    <img src="assets/img/Wha.png" width="40px" alt="">
                </a>
                <a href="#" class="twitter">
                    <img src="assets/img/Tw.png" width="40px" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>N4A</b> Tecnologia Superior en desarrollo de Software</small>
    </div>
</footer>

    


