<app-header-admin></app-header-admin>
<div class="container">
    <div class="card1">

        <div class="card">
            <div class="card-header">
                <img src="/assets/img/product.png">
                REGISTRAR PRODUCTOS

            </div>
            <div class="card-body">

                <div class="col-md-6 offset-md-3">
                    

                    <form ngNativeValidate (ngSubmit)="create()">

                        <div class="form-group">
                            <label>CODIGO: </label>
                            <input type="text" class="form-control" [(ngModel)]="producto.prod_codigo" name="codigo"
                                required>
                        </div>

                        <div class="form-group">
                            <label>CANTIDAD: </label>
                            <input type="number" class="form-control" [(ngModel)]="producto.prod_cantidad"
                                name="cantidad" required>
                        </div>

                        <div class="form-group">
                            <label>DESCRIPCION: </label>
                            <input type="text" class="form-control" [(ngModel)]="producto.prod_descripcion"
                                name="descripcion" required>
                        </div>

                        <div class="form-group">
                            <label>PRECIO: </label>
                            <input type="number" class="form-control" [(ngModel)]="producto.precio" name="precio"
                                required>
                        </div>

                        <div class="form-group">
                            <label>CATEGORIA: </label>

                            <select name="miselect" [(ngModel)]="CategoriaV">

                                <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
                                    {{categoria.nombre}}
                                </option>
                            </select>

                        </div>

                        <div class="col-sm">
                            <label>SELECCIONE UNA IMAGEN </label>
                            <div class="row mt-2">
                                <div class="col-md-12 d-flex justify-content-center align-items-center">
                                    <div class="text-center" style="border: 3px solid rgb(6, 16, 102);"
                                        class="row rounded" style="box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);">

                                        <img [src]="producto.prod_img? 'data:image/jpeg;base64,' + producto.prod_img : '../../../../assets/img/prod.png'"
                                            alt="" (click)="fileInput.click()" [style.max-height]="'400px'"
                                            [style.min-height]="'350px'">
                                        <input type="file" #fileInput style="display: none;"
                                            accept="image/jpeg, image/jpg, image/png"
                                            (change)="loadProductoImg($event)">
                                    </div>
                                </div>
                            </div><br>
                        </div>

                        <button class="btn btn-success">Guardar</button>

                    </form>

                </div>

            </div>
        </div>



    </div>