.container{
    background: rgb(183, 203, 252);
    position: relative;
    width: 70%;
    height: 90%;
    border: 20mm;
}

.form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.body{
    min-height: 100vh;
    max-width: 400px;
    background: rgb(175, 126, 52); 
    margin: 0 auto;
}


