<app-header-admin></app-header-admin>
<div class="container">
  <br>
  <div class="card border-primary mb-3">
      <div class="card-header">PRODUCTOS</div>
      <div class="card-body text-primary"><br>
          <h5 class="card-title">Lista de Productos</h5>

          <div class="my-2 text-left">
              <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/producto/form']">Nuevo producto</button>
          </div>

      <table class="table mt-2 table-bordered">
        <thead class="table-primary">
          <tr>
            <th>Id Producto</th>
            <th>Codigo Producto</th>
            <th>Cantidad Producto</th>
            <th>Descripción Producto</th>
            <th>Precio Producto</th>
            <th>Imagen Producto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.id_producto}}</td>  
            <td>{{producto.prod_codigo}}</td>                            
            <td>{{producto.prod_cantidad}}</td>
            <td>{{producto.prod_descripcion}}</td>   
            <td>{{producto.precio}}</td>                       
            <td ><img [src]="producto.prod_img? 'data:image/jpeg;base64,' + producto.prod_img : '../../../../assets/img/prod.png'"
              alt="" [style.max-height]="'50px'"
              [style.min-height]="'50px'"></td>
              <td>
                <a style="color: rgb(38, 167, 38);">
                    <mat-icon [routerLink]="['/producto/form',producto.id_producto]">EDITAR PRODUCTO</mat-icon>
                </a>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="eliminarProducto(producto.id_producto)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
              
           
          </tr>
        </tbody>
      </table>
    </div>