<app-header-admin></app-header-admin> 
<div class="container">
  <div class="card1">

    <div class="card">
      <div class="card-header">
        <img src="/assets/img/product.png" >
        ADMINISTRACION PRODUCTOS

      </div>

      <div class="my-2 text-left">
        <button class="btn btn-dark" type="button" [routerLink]="['/producto/form']">
          <i class="fa fa-save"></i> Nuevo Producto
        </button>
      </div>

      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>CODIGO</th>
              <th>CANTIDAD</th>
              <th>DESCRIPCION</th>
              <th>PRECIO</th>
              <th>CATEGORIA</th>
              <th>IMAGEN</th>
              <th>OPCIONES</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{producto.id_producto}}</td>
              <td>{{producto.prod_codigo}}</td>
              <td>{{producto.prod_cantidad}}</td>
              <td>{{producto.prod_descripcion}}</td>
              <td>{{producto.precio}}</td>
              <td>{{producto.categoria.nombre}}</td>

              <td><img
                  [src]="producto.prod_img? 'data:image/jpeg;base64,' + producto.prod_img : '../../../../assets/img/prod.png'"
                  alt="" [style.max-height]="'50px'" [style.min-height]="'50px'"></td>

              <td>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                  data-bs-target="#exampleModal" (click)="eliminarProducto(producto.id_producto)">
                  <i class="fa fa-trash"></i>
                </button>
                <button *ngIf="isupdate" type="button" class="btn btn-warning btn-sm" (click)="update()"></button>

              </td>
              
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>