.table{
    border: 1px solid rgb(45, 31, 197);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.table-wrapper {
    display: grid;
    place-content: center;
    
  }

  .table th {
    color: #fff;
    background-color: rgb(68, 95, 203);
  }

  table tr:first-child {
    color: #000000;
    background-color: rgb(251, 255, 175);
  }
  .card-header{
font-family: Georgia;
text-align: center;

  }
  .card-title{
    font-family:Cambria;
  }