<app-header-admin></app-header-admin>
<div class="container">
  <br>
  <div class="card boder-primary mb-3" >
    <p><h1 style="color: rgb(1, 1, 1); font-family:Georgia; text-align: center;">PERSONAS REGISTRADAS EN EL SISTEMA DE ADMINISTRACION</h1>
  </div>
  <div class="card boder-primary mb-3" >
    
    <div class="card-body text-primary"><br>
      <h5 class="card-title">Listado de Productos</h5>
     
  
     <!-- <DIV class="my-2-text-left">
          <button type="button"  class="btn btn-dark"   > Ingresar un nuevo Cliente</button>
      </DIV>-->
      
      <div class="table-wrapper" >
  
      <table class="table mt-2 table-bordered">
        <thead class="table-primary">
            <tr>
                <th width="40%" >ID</th>
                <th width="40%">CEDULA</th>
                <th width="40%">NOMBRE</th>
                <th width="40%">APELLIDO</th>
                <th width="40%">TELEFONO</th>
                <th width="40%">CORREO</th>
                <th width="40%">DIRECCION</th>
                <th width="40%">FECHA_NACIMIENTO</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let persona of personas"> 
            <td>{{persona.id_persona}}</td>
            <td>{{persona.cedula}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.telefono}}</td>
            <td>{{persona.correo}}</td>
            <td>{{persona.direccion}}</td>
            <td>{{persona.fechanacimiento}}</td>
             
          </tr>
        
        </tbody>
  
      </table>

    </div>
  
    </div>
  </div>
  