<app-header-admin></app-header-admin>
  <div class="container">
    <div class="card1">

        <div class="card">
            <div class="card-header">
                <img src="/assets/img/person.png" >
                ADMINISTRACION PERSONAS 

            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th >ID</th>
                          <th >CEDULA</th>
                          <th >NOMBRE</th>
                          <th >APELLIDO</th>
                          <th >TELEFONO</th>
                          <th >CORREO</th>
                          <th >DIRECCION</th>
                          <th >FECHA_NACIMIENTO</th>
                        </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let persona of personas"> 
                        <td>{{persona.id_persona}}</td>
                        <td>{{persona.cedula}}</td>
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.apellido}}</td>
                        <td>{{persona.telefono}}</td>
                        <td>{{persona.correo}}</td>
                        <td>{{persona.direccion}}</td>
                        <td>{{persona.fechanacimiento}}</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>



    </div>
  