<app-header-admin></app-header-admin>
<div class="card boder-primary mb-3" >
    <div class="card-header">CLIENTES</div>
    <div class="card-body text-primary">
      <h5 class="card-title">LISTADO DE CLIENTES GESTION_BAR</h5>
  
      <DIV class="my-2-text-left">
          <button type="button"  class="btn btn-dark"   > Ingresar un nuevo Cliente</button>
      </DIV>
      <div></div>

      <div class="table-wrapper" >
  
      <table class="table table-bordered table-striped">
        <thead class="table-blue">
            <tr>
                <th width="40%" >ID</th>
                <th width="40%">CEDULA</th>
                <th width="40%">NOMBRE</th>
                <th width="40%">APELLIDO</th>
                <th width="40%">TELEFONO</th>
                <th width="40%">CORREO</th>
                <th width="40%">DIRECCION</th>
                <th width="40%">FECHA_NACIMIENTO</th>
            </tr>
        </thead>
        <tbody>
            <tr > 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           </tr>
        </tbody>
  
      </table>

    </div>
  
    </div>
  