<div class="containerNB body" #container>
    <div class="forms-container">
        <div class="signin-signup">
            <form action="" class="sign-in-form">
                <h2 class="title">Iniciar Sesión</h2>

                <div class="input-field">
                    <div class="foto2"> <img src="" class="img2" alt="imagenUser"></div>
                    <input type="text" name="a"  placeholder="Usuario">
                </div>

                <div class="input-field">
                    <div class="foto2"> <img src="" class="img2" alt="imagenUser"></div>
                    <input type="password"  name="a" placeholder="Contraseña">
                </div>

                <input  type="submit" name="Login" class="btnNB solid" value="Iniciar Sesión">


                <p class="social-text">Visítanos en nuestras plataformas</p>
                <div class="social-media">
                    <!--sirve para crear 4 a. a.social-icon*4-->
                    <a href="https://www.facebook.com/TecAzuay/" class="social-icon">
                        <div class="fotoRedes"> <img src="/assets/img/facebook.png" alt="imagenUser"></div>
                    </a>
                    <a href="https://twitter.com/TecAzuay" class="social-icon">
                        <div class="fotoRedes"> <img src="/assets/img/twitter.png" alt="imagenUser"></div>
                    </a>
                    <a href="https://www.instagram.com/tecdelazuay/" class="social-icon">
                        <div class="fotoRedes"> <img src="/assets/img/instagram.png" alt="imagenUser"></div>
                    </a>
                </div>
            </form>

            <!-- separacion del 1 from y el segundo-->
            <form action="" class="sign-up-form">

                <h2 class="title">Registrarse</h2>

                <div class="input-field">
                    <div class="foto"> <img src=""  class="img2"  alt="imagenUser"></div>
                    <input type="text"  name="user" placeholder="Usuario">
                </div>

                <div class="input-field">
                    <div class="foto"> <img src="" class="img2" alt="imagenUser"></div>
                    <input type="email" name="gmail" placeholder="Correo">
                </div>

                <div class="input-field">
                    <div class="foto"> <img src="" class="img2" alt="imagenUser"></div>
                    <input type="number" name="cedu"placeholder="Cedula">
                </div>

                <input  type="submit" name="Sign up" class="btnNB solid" value="Continuar">

                <p class="social-text">Síguenos en nuestras plataformas </p>
                <div class="social-media">
                    <!--sirve para crear 4 a. a.social-icon*4-->
                    <a href="#" class="social-icon">
                        <div class="fotoRedes"> <img src="" alt="imagenUser"></div>
                    </a>
                    <a href="#" class="social-icon">
                        <div class="fotoRedes"> <img src="" alt="imagenUser"></div>
                    </a>
                    <a href="#" class="social-icon">
                        <div class="fotoRedes"> <img src="" alt="imagenUser"></div>
                    </a>
                    <a href="#" class="social-icon">
                        <div class="fotoRedes"> <img src="" alt="imagenUser"></div>
                    </a>
                </div>
            </form>

        </div>
    </div>
    <div class="panels-container">
        <div class="panelNB left-panel">

            <div class="content">
                <img src="" class="image imageL">

                <h3>¿Eres nuevo?</h3>
                <p>
                    Esta es una tienda web donde puedes poner tus artículos a la venta como realizar trueques de forma
                    rápida y segura.
                </p>
                    <a class="btn-neon" id="sign-up-btn" #signUpBtn> 
                        <span id="spain1"></span>
                        <span id="spain2"></span>
                        <span id="spain3"></span>
                        <span id="spain4"></span>
                        REGISTRARSE</a>
            </div>
        </div>

        <div class="panelNB right-panel">

            <div class="content">
                <h3>¿Ya nos conoces ?</h3>
                <p>Entonces inicia sesión y disfruta de nuestros servicios donde podrás encontrar gran variedad de
                    productos

                </p>
                <button class="btnNB transparent" id="sign-in-btn" #signInBtn>Iniciar Sesión</button>
            </div>
            <img src="/assets/img/condor.svg" class="image imageC">
        </div>
    </div>
</div>