<!-- Header Showcase -->
<header id="showcase" class="grid">
  <div class="bg-image"></div>
  <div class="content-wrap">
    <img src="/assets/img/logoista.png" class="logo">
    <h1>BIENVENIDO BAR INSTA WEBSITE</h1>
    <p>Insta bar especializado en el servicio al cliente, dia tras dia satisfaciendo a los estudiantes</p>
    <a routerLink="/rutas"  class="btn">COMENCEMOS</a>
    
    
    <!-- <a routerLink="/footer" routerLinkActive="activate" class="btn">COMENCEMOS</a>
  </div>
</header>

<!-- Main Area -->
<main id="main">
  <!-- Section A -->
  <section id="section-a" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">ISTA BAR WEBSITE</h2>
      <div class="content-text">
        <p>En nuestro sitio web, encontrarás un ambiente acogedor y amigable donde podrás disfrutar de una amplia variedad de bebidas y aperitivos. 
          Nuestro objetivo es proporcionarte un espacio relajante y social donde puedas reunirte con amigos, colegas o simplemente tomarte un tiempo para ti mismo.</p>
      </div>
    </div>
  </section>

  <!-- Section B -->
  <section id="section-b" class="grid">
    <ul>
      <li>
        <div class="card">
          <img src="https://lh5.googleusercontent.com/K-ioyLwAMAFgazalIoRHTnna3A2_93FSe_HMLvXddM1csfkMYxHSFsBB5ylSKdePFJrVaQxjVA42mqstRh4s-ybUAq91X5nAMGGKbt5AI_KVkd7TFcGELSeNI4V_E8z__Mqr9Blc4RCxSLOZnfs" alt="">
          <div class="card-content">
            <h3 class="card-title">BEBIDAS SODAS</h3>
            <p>Ofrecemos una amplia variedad de bebidas para satisfacer todos los gustos. Desde opciones creativas hasta refrescantes sodas, tenemos algo para cada preferencia. </p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="https://cdn.downtoearth.org.in/library/large/2019-03-05/0.89399200_1551782137_fast1.jpg" alt="">
          <div class="card-content">
            <h3 class="card-title">COMIDA RAPIDA</h3>
            <p>La comida rápida es conocida por su conveniencia y sabores deliciosos. Ofrecemos una selección de comida rápida cuidadosamente preparada y de alta calidad.  </p>
          </div>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="https://media.timeout.com/images/106013797/1920/1080/image.jpg" alt="">
          <div class="card-content">
            <h3 class="card-title">HELADOS CREATIVOS </h3>
            <p>Los helados son un delicioso y refrescante postre que nos encanta disfrutar en días calurosos. Ofrecemos una variedad de helados cremosos y sabrosos que te encantarán.</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <!-- Section C -->
  <section id="section-c" class="grid">
    <div class="content-wrap">
      <h2 class="content-title">TE INVITAMOS A EXPLORAR NUESTRO SITIO WEB</h2>
      <p>Para obtener más información sobre nuestras ofertas, horarios y eventos especiales. Esperamos con ansias tu visita y estamos seguros de que tendrás una experiencia memorable en nuestro bar.

        ¡Bienvenido y disfruta de tu estancia en nuestro sitio web y en nuestro bar!</p>
    </div>
  </section>

  

